texconv.exe
weights
matsynth_processed
matsynth_category_samples
__pycache__
segformer_sample_test
test_output
skyrim_samples
skyrim_samples_for_maps
skyrim_processed
skyrim_processed_for_maps
skyrim_cache_all.json
skyrim_cache_pbr.json
skyrim_data_segformer.json
skyrim_data_unet_albedo.json
skyrim_data_unet_parallax.json
skyrim_data_unet_all.json
matsynth_cache.json
temp